.container {
    width: 800px;
    margin: auto;
}
.head {
    text-align: center;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
margin: auto;
padding: 10px;
}
.group-info {
    text-align: center;
}
.group-info h4 {
    margin-bottom: 5px;
}
 ol {
    padding-left: 0;
    list-style: none;
}
ol li {
    margin-bottom: 5px;
}
form {
    margin-top: 10px;
}

